@import 'style-mixins.scss';

#design{
    padding-bottom: 60px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    .design-container{width: 1160px;
        display: flex;
        flex-direction: column;
        .design-box{
            margin-bottom: 90px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media (max-width: 1000px) {
                grid-template-columns: 1fr 1fr;}
            @media (max-width: 470px) {
                grid-template-columns: 1fr;}
            .design-info{
                padding: 20px;
                box-sizing: border-box;
                .design-info__header {
                    font-family: $font;
                    font-weight: 700;
                    font-size: 18px;
                    display: inline;
                    position: relative;
                    top: -10px;
                    margin-left: 12px;}
                .design-info__under-header-text{
                    font-family: $font;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: 4px;
                    margin-bottom: 0px;}
            }
        }
        .design__header {@include bold-header;
            text-align: center;
            margin-bottom: 18px;
            padding-left: 140px;
            padding-right: 140px;
            @media (max-width: 1000px) {
                padding-left: 55px;
                padding-right: 55px;}
            @media (max-width: 520px) {
                display: none;}}
            .design__short-header {@include bold-header;
                text-align: center;
                margin-bottom: 18px;
                padding-left: 20px;
                padding-right: 20px;
                display: none;
            @media (max-width: 520px) {
                display: block;
                
            }}
            .design__under-header-text{color: #0205d3;
                text-decoration: none;
                font-family: $font;
                font-weight: 600;
                font-size: 22px;
                align-self: center;
                @media (max-width: 1000px) {
                    padding-left: 20px;
                    padding-right: 20px;}
                @media (max-width: 818px) {
                    font-size: 16px;}
                @media (max-width: 515px) {
                    display: none;}
                &:hover{color: rgb(0, 20, 255);
                    transition-duration: 0.2s;}}
    }
}