@import 'style-mixins.scss';

#functionality {
    @include background;
    padding-top: 68px;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    .functionality-container{width: 780px;
        display: flex;
        flex-direction: column;
        .functionality__img{
            width: 635px;
            height: 433px;
            border-radius: 10px;
            margin: 0 auto;
            box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.2);
            @media (max-width: 710px){
                width: 550px;
                height: 375px;}
            @media (max-width: 630px){
                width: 450px;
                height: 305px;}
            @media (max-width: 500px){
                width: 320px;
                height: 220px;}}
        .functionality__main-header{@include medium-header;}
        .functionality__under-header-text{@include under-header-text;}
        .functionality__button {@include button;
            @media (max-width: 784px){
                font-size: 16px;}}
    }
}